---
layout: page
title: "浏览（Explore）"
description: "Explore Shengbin's Blog"
---

<h2>按类别（Posts By Category）</h2>
<ul class="tag_box inline">
    {% for category in site.categories %} 
    	<li><a href="{{ site.baseurl }}/categories#{{ category[0] }}"> {{ category[0] }} <span>{{ category[1].size }}</span></a></li>
    {% endfor %}
</ul>
<br>
<hr>

<h2>按标签（Posts By Tag）</h2>
<ul class="tag_box inline">
    {% for tag in site.tags %} 
    	<li><a href="{{ site.baseurl }}/tags#{{ tag[0] }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
</ul>
<br>
<hr>

<h2>所有页面（Pages On This Site）</h2>
<ul>
<li><a href="{{ site.baseurl }}/about">关于（About）</a></li>
<li><a href="{{ site.baseurl }}/archive">存档（Archive）</a></li>
<li><a href="{{ site.baseurl }}/explore">浏览（Explore）</a></li>
<li><a href="{{ site.baseurl }}/categories">分类（Categories）</a></li>
<li><a href="{{ site.baseurl }}/tags">标签（Tags）</a></li>
<li><a href="{{ site.baseurl }}/rss.xml">RSS订阅（RSS Feed）</a></li>
<li><a href="{{ site.baseurl }}/feed.xml">Atom订阅（Atom Feed）</a></li>
<li><a href="{{ site.baseurl }}/sitemap.xml">站点地图（Sitemap）</a></li>
</ul>
