---
layout: default
title: Shengbin's Blog
---

<div class="row-fluid">
  {% for post in paginator.posts %}
        <h1><a class="title" href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="post_at_index">
          {{post.excerpt}} 
          {% if post.excerpt != post.content %}<a href="{{ site.baseurl }}{{ post.url }}" rel="nofollow">阅读全文...</a>{% endif %}
        </div>
        <br/>
        <div>
          <cite>{{ post.date | date: "%Y-%m-%d" }}</cite> <i class="icon-tag"></i>  {% for tag in post.tags %}<a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
       </div> 
        <div style="clear: both;"></div>
        <hr/>
 {% endfor %}
</div>


<!-- Pagination links -->
<div class="pagination">
    <ul>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li>
            <a href="/">&laquo; Previous</a>
        </li>
        {% else %}
        <li>
            <a href="/page{{ paginator.previous_page }}">&laquo; Previous</a>
        </li>
        {% endif %}
    {% else %}
        <li class="disabled">
            <a>&laquo; Previous</a>
        </li>
    {% endif %}
  
    {% if paginator.page == 1 %}
        <li class="active">
            <a>1</a>
        </li>
    {% else %}
        <li>
            <a href="/">1</a>
        </li>
    {% endif %}
      
    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
            <li class="active">
                <a>{{count}}</a>
            </li>
        {% else %}
            <li>
                <a href="/page{{count}}">{{count}}</a>
            </li>
        {% endif %}
    {% endfor %}
  
    {% if paginator.next_page %}
        <li>
            <a href="/page{{paginator.next_page}}">Next &raquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <a>Next &raquo;</a>
        </li>
    {% endif %}
    </ul>
</div>
