---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% for category in page.categories %}
      <li><a href="{{ site.baseurl }}/categories#{{ category }}">{{ category }} <span>{{ site.categories[category].size }}</span></a></li>
      {% endfor %}
    </ul>
  {% endunless %}  

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% for tag in page.tags %}
      <li><a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
      {% endfor %}
    </ul>
  {% endunless %}

  <hr>
  <i>如果想要说些什么，欢迎<a href="mailto:shengbinmeng@gmail.com?subject=关于博客文章“{{ page.title }}”">发邮件给我</a>。</i>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 前一篇（Previous）</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 前一篇（Previous）</a></li>
      {% endif %}
        <li><a href="{{ site.baseurl }}/archive">目录（Archive）</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">后一篇（Next） &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>后一篇（Next） &rarr;</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
